.findPwd {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 36px 50px 30px;
    box-sizing: border-box;

    .findContent {
        flex: 1;
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: calc(50% - 50px);
        margin: 0 auto;

        .hint {
            flex: 1;
            color: #435b87;
            font-size: 13px;
            margin-left: 20px;
            line-height: 13px;
            padding: 2px 0;
        }

        .hint span {
            display: block;
        }
    }

    .loginBtn {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        margin-top: 40px;
    }

    .jumpHint {
        display: inline-block;
        font-size: 12px;
        color: #abb3be;
        margin-top: 6px;

        .jumpTime {
            display: inline-block;
            color: #3388ff;
            margin: 0 8px;
        }
    }
}
