@font-face {
    font-family: "icomoon";
    src: url("#{$static}/fonts/icomoon.eot?tbi512");
    src: url("#{$static}/fonts/icomoon.eot?tbi512#iefix") format("embedded-opentype"),
        url("#{$static}/fonts/icomoon.ttf?tbi512") format("truetype"),
        url("#{$static}/fonts/icomoon.woff?tbi512") format("woff"),
        url("#{$static}/fonts/icomoon.svg?tbi512#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.forgetWidget {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .forgetWidgetContent {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        padding: 30px 36px 20px 30px;
        transition: all 0.2s;

        .title {
            text-align: center;
            color: #3388ff;
            font-size: 14px;
        }

        .errorText {
            position: absolute;
            top: 65px;
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            padding-left: 20px;
            color: red;
            transition: all 0.5s;
            overflow: hidden;
            white-space: nowrap;
            background-image: url("#{$static}/images/ico_error.png");
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 12px;
        }

        .inputWidget {
            display: flex;
            height: 36px;
            flex-direction: row;
            width: 100%;
            border-bottom: 1px solid #e7ecf2;
            margin-top: 15px;
            overflow: hidden;

            .inputContent {
                flex: 1;
                height: 100%;
            }
        }

        .inputWidget > img {
            margin-top: 8px;
            margin-right: 10px;
        }

        .loginBtn {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            margin-top: 40px;
        }

        .hintContent {
            margin-top: 6px;
            font-size: 12px;
            color: #abb3be;

            .contactUs {
                color: #435b87;
                cursor: pointer;
            }

            .contactUs:hover {
                color: #3388ff;
            }
        }

        .goLogin {
            float: right;
            display: inherit;
            margin-top: 10px;
            color: #abb3be;
            font-size: 12px;
            cursor: pointer;
            line-height: 12px;
        }

        .goLogin::before {
            position: relative;
            top: 2px;
            content: "";
            font-family: "icomoon";
            font-size: 15px;
        }

        .goLogin:hover {
            color: #3388ff;
        }
    }

    .callUs {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transition: all 0.2s;
    }
}
