@font-face {
    font-family: "icomoon";
    src: url("../public/static/fonts/icomoon.eot?tbi512");
    src: url("../public/static/fonts/icomoon.eot?tbi512#iefix") format("embedded-opentype"),
        url("../public/static/fonts/icomoon.ttf?tbi512") format("truetype"),
        url("../public/static/fonts/icomoon.woff?tbi512") format("woff"),
        url("../public/static/fonts/icomoon.svg?tbi512#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 10px 0 #edeff5;

    .content {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        .logo {
            float: left;
            margin-top: 17px;
            height: 26px;
        }

        .menu {
            float: left;
            margin-left: 28px;
            line-height: 60px;
        }

        .menu > li {
            float: left;
            margin-left: 32px;
            font-size: 17px;
            color: #363951;
            cursor: pointer;
        }

        .menu a {
            font-family: "icomoon";
        }

        .menuAHome::before {
            content: "";
            margin-right: 2px;
            position: relative;
            top: 1px;
        }

        .menuAHelp::before {
            content: "";
            margin-right: 2px;
            position: relative;
            top: 1px;
        }

        .menuADynamic::before {
            content: "";
            margin-right: 2px;
            position: relative;
            top: 1px;
        }

        .menuACircle::before {
            content: "";
            margin-right: 2px;
            position: relative;
            top: 1px;
        }

        .menuSelect {
            color: #3388ff !important;
            font-weight: bold;
        }
        .menu li:hover {
            color: #3388ff !important;
        }

        .search {
            float: left;
            display: flex;
            flex-direction: row;
            margin-left: 60px;
            margin-top: 15px;
            width: 344px;
            height: 30px;
            padding: 0 15px;
            box-sizing: border-box;
            background-color: #f5f6fa;
            border-radius: 15px;
            border: 1px solid #e5e7f0;

            .searchIcon::before {
                content: "";
                font-family: "icomoon";
                color: #848d99;
                line-height: 30px;
                font-size: 14px;
                cursor: pointer;
            }
        }

        .search input {
            flex: 1;
            height: 30px;
            outline: none;
            border: 0px;
            background-color: transparent;
            box-sizing: border-box;
            line-height: 30px;
            font-size: 13px;
            color: #363951;
        }

        .search input::-webkit-input-placeholder {
            color: #848d99;
            font-size: 13px;
            line-height: 30px;
        }
        .search input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #848d99;
            font-size: 13px;
            line-height: 30px;
        }
        .search input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #848d99;
            font-size: 13px;
            line-height: 30px;
        }
        .search input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #848d99;
            font-size: 13px;
            line-height: 30px;
        }

        .userInfo {
            float: right;

            .userMenu {
                margin-top: 13px;

                .userCenter {
                    visibility: hidden;
                    position: absolute;
                    right: 0;
                    top: 48px;
                    width: 160px;
                    background-color: white;
                    border: 1px solid #eaedf6;
                    box-shadow: 2px 4px 10px 0 rgba(174, 188, 204, 0.5);
                    border-radius: 8px;
                    cursor: default;
                    padding-bottom: 5px;

                    .userCenterName {
                        color: #363951;
                        width: 100%;
                        height: 55px;
                        line-height: 55px;
                        padding: 0 20px;
                        box-sizing: border-box;
                        font-size: 16px;
                        font-weight: bold;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .userCenterItem {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 20px 0 46px;
                        box-sizing: border-box;
                        background-repeat: no-repeat;
                        background-position: 20px center;
                        background-size: 16px;
                        color: #6c7582;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .userCenterItem:hover {
                        background-color: #f1f1f1;
                    }
                }

                .sendDynamic {
                    position: absolute;
                    right: 0;
                    top: 48px;
                    width: 231px;
                    background-color: white;
                    cursor: default;
                    border: 1px solid #eaedf6;
                    box-shadow: 2px 4px 10px 0 rgba(174, 188, 204, 0.5);
                    border-radius: 8px;
                    box-sizing: content-box;
                    padding: 4px 4px;

                    .sendDnamicItem {
                        float: left;
                        width: 75px;
                        text-align: center;
                        margin: 1px;
                        border-radius: 8px;
                        padding: 3px 0;
                        cursor: pointer;
                    }

                    .sendDnamicItem:hover {
                        background-color: #f1f1f1;
                    }

                    .sendDnamicItem > span {
                        display: block;
                        text-align: center;
                        margin-top: 4px;
                        font-size: 13px;
                        color: #363951;
                    }
                }

                .userCenter li {
                    list-style: none;
                }

                .messageHint {
                    position: absolute;
                    top: -6px;
                    left: 22px;
                    display: inline-block;
                    min-width: 18px;
                    height: 18px;
                    line-height: 18px;
                    padding: 0 6px;
                    background-color: rgb(248, 98, 71);
                    border-radius: 10px;
                    color: white;
                    font-size: 10px;
                    transform: scale(0.8);
                    text-align: center;
                }
            }

            .userMenu > li {
                position: relative;
                float: left;
                margin-left: 30px;
                border-radius: 50%;
                cursor: pointer;
            }

            .userMenu img {
                width: 34px;
                height: 34px;
                border-radius: 50%;
            }

            .downLogin {
                float: right;
                padding: 0 20px;
                height: 30px;
                line-height: 30px;
                margin-top: 15px;
                border-radius: 3px;
                background-color: #3388ff;
                cursor: pointer;
                font-size: 13px;
                color: white;
            }

            .downLogin:hover {
                background-color: #3e64eb !important;
            }
        }
    }
}
