/**
* @author: leroy
* @date: 2021/8/21 10:13
* @description：var
*/

:root {
  --colorBar: #50bcb6;
  --colorActive: #0084ff;
  --colorComment: #ef6d57;
  --colorDefault: #24292e;
  --baseBlue: #158eee;
  --borderColor: #ededed;
}
